<p>timeline works!</p>
<div
  class="timeline">
  <svg
    class="timeline-graph__svg"
    width="100%"
    height="40"
    (mousemove)="onMouseOver($event)">
    <svg:g>
      <svg:rect
        width="100%"
        y="10"
        height="30"
        rx="10"
        ry="10"
        fill="#B0BEC5">
      </svg:rect>
    </svg:g>
  </svg>
</div>

<div
  *ngFor="let screenshot of screenshots$ | async">
  <img
    [src]="'data:image/png;base64,' + screenshot?.args?.snapshot">
  <p>{{ screenshot.ts }}</p>
</div>

