<mat-toolbar
  color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
    <span
      class="spacer"></span>
    <button
      mat-icon-button
      (click)="fileInput.click()"
      aria-label="Add trace">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<input
  hidden
  type="file"
  (change)="fileChange($event)"
  placeholder="Upload JSON file"
  accept=".json"
  #fileInput>
<router-outlet></router-outlet>